{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function(){

            $("select[id$='_trademark']").change(function() {
                var data = {
                    trademark_id: $(this).val()
                };
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '{{ path("admin_app_barcode_trademark_tablelogisticvariables") }}',
                    data: data,
                    success: function(data) {

                        var $logisticIndicator_selector = $("select[id$='_tableLogisticVariables']");
                        var $type_selector = $("select[id$='_type']");

                        //Inicializamos la variable para que NO contenga valores
                        $logisticIndicator_selector.html('');

                        //Solo mostramos/solicitamos el 'indicador logístico' cuando trabajamos con código de tipo GTING-14
                        if($type_selector.val() == 'TYPECODE_GTIN_14') {

                            $logisticIndicator_selector.html('');

                            for (var i = 0, total = data.length; i < total; i++) {
                                $logisticIndicator_selector.append('<option value="' + data[i].id + '">' + data[i].logisticIndicator + '</option>');
                            }
                        }
                    }
                });

            });

            //Se oculta la petición del indicador logístico cuando
            //el tipo de código sea distinto del DUN14
            $("select[id$='_type']").change(function() {
                if ( $(this).val() === 'TYPECODE_GTIN_14' ) {
                    $("select[id$='_trademark']").trigger('change');
                    $("div[id$='_tableLogisticVariables']").show();
                } else {
                    $("div[id$='_tableLogisticVariables']").hide();
                }
            });

            //Se oculta la solicitud del código base según se especifique en checkbox
            $("input[id$='_withCounter']").change(function() {
                if ( $(this).is(':checked')) {
                    $("div[id$='_basecode']").show();
                } else {
                    $("div[id$='_basecode']").hide();
                }
            });
        });

        $(document).ready(function(){
            $("select[id$='_trademark']").trigger('change');
            $("select[id$='_type']").trigger('change');
            $("input[id$='_withCounter']").trigger('change');
            $("div[id$='_code']").hide(); //Se oculta en el formulario, única utilidad es la carga inicial de datos
        })

    </script>
{% endblock javascripts %}
