{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function(){

            $("select[id$='_trademark']").change(function() {
                var data = {
                    trademark_id: $(this).val()
                };
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '{{ path("backend_barcode_trademark_tablelogisticvariables") }}',
                    data: data,
                    success: function(data) {

                        var $logisticIndicator_selector = $("select[id$='_logisticIndicator']");
                        var $type_selector = $("select[id$='_type']");

                        //Inicializamos la variable para que NO contenga valores
                        $logisticIndicator_selector.html('');

                        //Solo mostramos/solicitamos el 'indicador logístico' cuando trabajamos con código de tipo GTING-14
                        if($type_selector.val() == 'TYPECODE_GTIN_14') {

                            $logisticIndicator_selector.html('');

                            for (var i = 0, total = data.length; i < total; i++) {
                                $logisticIndicator_selector.append('<option value="' + data[i].id + '">' + data[i].logisticIndicator + '</option>');
                            }
                        }
                    }
                });

            });

            $("select[id$='_type']").change(function() {
                console.log('Type change');
                if ( $(this).val() === 'TYPECODE_GTIN_14' ) {
                    $("select[id$='_trademark']").trigger('change');
                    $("div[id$='_logisticIndicator']").show();
                } else {
                    $("div[id$='_logisticIndicator']").hide()
                }
            });
        });

        $(document).ready(function(){
            $("select[id$='_trademark']").trigger('change');
            $("select[id$='_type']").trigger('change');
        })

    </script>
{% endblock javascripts %}
