{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function(){
            $("select[id$='_trademark']").change(function() {
                var data = {
                    trademark_id: $(this).val()
                };
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '{{ path("backend_barcode_trademark_tablelogisticvariables") }}',
                    data: data,
                    success: function(data) {
                        var $logisticIndicator_selector = $("select[id$='_logisticIndicator']");

                        $logisticIndicator_selector.html('');

                        for (var i=0, total = data.length; i < total; i++) {
                            $logisticIndicator_selector.append('<option value="' + data[i].id + '">' + data[i].logisticIndicator + '</option>');
                        }

                    }
                });

            });
        });

        $(document).ready(function(){
            $("select[id$='_trademark']").trigger('change');
        })

    </script>
{% endblock javascripts %}
