{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function(){
            $("select[id$='_trademark']").change(function() {
                var data = {
                    trademark_id: $(this).val()
                };

                $.ajax({
                    type: 'POST',
                    url: '{{ path("admin_app_product_trademark_barcode") }}',
                    data: data,
                    success: function(data) {
                        var $barcodeSU_selector = $("select[id$='_barcodeSU']");
                        var $selectedSU_value = $barcodeSU_selector.val();
                        var $barcodeCU_selector = $("select[id$='_barcodeCU']");
                        var $selectedCU_value = $barcodeCU_selector.val();

                        $barcodeSU_selector.html('');
                        $barcodeCU_selector.html('');

                        for (var i=0, total = data.length; i < total; i++) {
                            if (data[i].id == $selectedCU_value) {
                                $barcodeCU_selector.append('<option selected value="' + data[i].id + '">' + data[i].code + '</option>');
                            } else {
                                $barcodeCU_selector.append('<option value="' + data[i].id + '">' + data[i].code + '</option>');
                            }
                            if (data[i].id == $selectedSU_value) {
                                $barcodeSU_selector.append('<option selected value="' + data[i].id + '">' + data[i].code + '</option>');
                            } else {
                                $barcodeSU_selector.append('<option value="' + data[i].id + '">' + data[i].code + '</option>');
                            }
                        }
                    }
                });
            });
        });

        $(document).ready(function(){
            $("select[id$='_trademark']").trigger('change');
        })
    </script>
{% endblock javascripts %}
